.main-categories {
    display: flex;
    width: 100%;

    
    .filter {
     width: 20%;
    }

    .categories-list {
        width: 80%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        row-gap: 20px;
    }

}