.card-wrapper {

    margin-top: 60px;
    .card-header {
        font-size: 30px;
        padding: 0 0 20px 10px;

        span {
            padding: 0 10px 5px 5px;
            border-bottom: 1px solid #ff64a0;

        }
    }
.card-slider{
    width: 100%;
    height: 410px;
    
    position: relative;

    .cards {
        width:100%;
        height:100%;
        white-space: nowrap;
        overflow-x: scroll;
        scrollbar-width: none;
        scroll-behavior: smooth;

       &::-webkit-scrollbar {
        display: none;
       }

       
    }

    .arrow-type {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width:25px;
        height: 25px;
        color: #282828;
        background-color: #fff0f0;
        padding: 5px;
        border-radius: 100%;
        opacity: 0.5;
        z-index: 10;

        &:hover {
            opacity: 0.9;
        }
    }

    .left-arrow {
        left: 2%;
    }

    .right-arrow {
        right: 2%;
    }


}
}